/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.Map {
  height: 100%;
  background-size: cover;
  background-image: url("/fantasy-map/images/background.jpg");
  color: white;
  font-family: sans-serif; }
  .Map .banner {
    position: absolute;
    width: 600px;
    z-index: 0;
    left: calc(50% - 300px);
    top: 0; }
  .Map .map-image {
    background-image: url("/fantasy-map/images/map.png");
    width: 1500px;
    height: 843px;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.RaceSelector {
  position: absolute;
  border-radius: 9999px;
  width: 105px;
  height: 105px; }
  .RaceSelector:hover, .RaceSelector.hover {
    border: solid 1px gold; }
  .RaceSelector.right {
    right: 0; }
  .RaceSelector.left {
    left: 0; }

.raceOverlay {
  width: 100px;
  padding: 20px;
  position: absolute; }
  .raceOverlay img {
    margin-bottom: 20px;
    border-radius: 9999px;
    border: solid 1px black; }
    .raceOverlay img:hover {
      border: solid 1px gold; }
  .raceOverlay.right {
    left: 0; }
  .raceOverlay.left {
    right: 0; }

.LeftNav {
  background-image: url("/fantasy-map/images/menu-concordat.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 30vh; }

.RightNav {
  background-image: url("/fantasy-map/images/menu-empire.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 30vh; }

.Location {
  height: 100%;
  width: 100%;
  text-align: center; }
  .Location .left-arrow,
  .Location .right-arrow,
  .Location .panorama-image {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .Location .panorama-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: scroll; }
  .Location .panorama-image {
    height: 100%; }
  .Location .left-arrow,
  .Location .right-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 15vh; }
  .Location .left-arrow {
    left: 30vh; }
  .Location .right-arrow {
    right: 30vh; }

.Locations {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative; }

.HoverArea {
  position: absolute;
  z-index: 1;
  cursor: pointer; }
