@import '../variables';
.LeftNav {
  background-image: url('$asset_path/images/menu-concordat.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  height: $nav-height;
  width: $nav-width;
}
