.Map {
  height: 100%;
  background-size: cover;
  background-image: url('$asset_path/images/background.jpg');
  color: white;
  font-family: sans-serif;

  .banner {
    position: absolute;
    width: 600px;
    z-index: 0;
    left: calc(50% - 300px);
    top: 0;
  }

  .map-image {
    background-image: url('$asset_path/images/map.png');
    width: 1500px;
    height: 843px;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
