.Marker {
  position: absolute;
  z-index: 1;
  .marker-icon {
    background-color: red;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 999px;
  }
  .hover-text {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    &:visited {
      color: white;
    }
  }
  &:hover {
    .marker-icon {
      background-color: blue;
    }
    .hover-text {
      display: inline-block;
    }
  }
}
