@import '../variables';
.RightNav {
  background-image: url('$asset_path/images/menu-empireside.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: $nav-width;
}
