@import '../variables';
.RightNav {
  background-image: url('$asset_path/images/menu-empire.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  height: $nav-height;
  width: $nav-width;
}
